.root {
  position: relative;
  width: 1440px;
  height: 110px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle16 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f5f5f5;
}
.logo {
  position: absolute;
  left: 49px;
  top: 37px;
  width: 69px;
  height: 37px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.work {
  color: #000;
  font-size: 24.8668px;
  font-family: Abel, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 68.6111%;
  right: 27.5035%;
  top: 36.3636%;
  bottom: 37.6393%;
  flex-direction: column;
}
.about {
  color: #000;
  font-size: 24.8668px;
  font-family: Abel, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74.3961%;
  right: 21.1141%;
  top: 36.3636%;
  bottom: 37.6393%;
  flex-direction: column;
}
.contact {
  color: #000;
  font-size: 24.8668px;
  font-family: Abel, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80.7855%;
  right: 13.3%;
  top: 36.3636%;
  bottom: 37.6393%;
  flex-direction: column;
}
.other {
  color: #000;
  font-size: 24.8668px;
  font-family: Abel, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 88.5995%;
  right: 7.0833%;
  top: 36.3636%;
  bottom: 37.6393%;
  flex-direction: column;
}
